<div class="authContainer">
    <form>
        <input class='input' name='email' placeholder="Enter email" />
        <input class='input' name='password' placeholder="Enter password" />
        <div class='btn-group'>
            <button>Register</button>
            <button>Login</button>
        </div>
    </form>
</div>