<form class="TaskForm">
        <input required class="TaskTitle" name="title" placeholder="Enter name"/>
        <input required class="TaskDescription" name="description" placeholder="Enter description"/>
        <input required class="TaskDeadline" type="date" name="deadline"/>
        <button class="TaskSubmit" type="submit">Add Task</button>
</form>


{{!-- Edit css file with class names --}}