
<div class="loginForm">
    <form>
        <input class='input' type="email" name='email' placeholder="enter your email" />
        <input class='input' type="password" name='password' placeholder="enter your password" />
        {{!-- <div class='btn-group'> --}}
            <button type="submit">Login</button>
        {{!-- </div> --}}
    </form>
    <div class="change-position">
    <button class="go-change" data-action="go-reg">Need to Register?</button>
    </div>
</div>