
<div class="registartionForm">
    <form>
        <input class='input' name='displayName' placeholder="nickname" />
        <input class='input' type="email" name='email' placeholder="enter your email" />
        <input class='input' type="password" name='password' placeholder="enter your password" />
        <input class='input' type="password" name='passwordConfirm' placeholder="confirm your password" />
            <button type="submit">Register</button>
    </form>
    <div class="change-position">
    <button class="go-change" data-action="go-log">Already registered?</button>
    </div>
</div>
