@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #152730, #102631);
  font-family: 'Noto Sans JP', sans-serif;
color: teal;
}

.accountContainer2 {
  width: 400px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #1adbd5;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 150px auto;
}

.input {
  border: none;
  outline: none;
  border-bottom: 1px solid #1adbd5;
  display: block;
  width: 300px;
  margin-bottom: 20px;
  background: white;
  font-family: 'DM Mono', monospace;
}

input {
  border: none;
  outline: none;
  border-bottom: 1px solid #1adbd5;
  width: 300px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #152730, #102631);;
  font-family: 'DM Mono', monospace;
  transition-property: all;
  transition-duration: 0.4s;
}

button {
  border: 1px solid #1adbd5;
  color: teal;
  background: linear-gradient(to right, #152730, #102631);;
  border-radius: 10%;
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
  font-family: 'DM Mono', monospace;
  font-weight: 400;
  transition-property: all;
  transition-duration: 0.4s;
  cursor: pointer;
}


.change-position {
  text-align: center;
  margin-top: 5px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;

}

.account {
  position: fixed;
  top: 2px;
  right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #152730, #102631);;
  border: 2px solid #1adbd5;
  border-radius: 10px;
  transition-property: all;
  transition-duration: 0.4s;
  padding: 3px;
  padding: 10px;
}


.signout {
  transition-property: all;
  transition-duration: 0.4s;
}


.account_name {
  margin: 0;
  font-size: 20px;
}

.part_todo {
  border: 1px solid #1adbd5;
  background: linear-gradient(to right, #152730, #102631);
  display: block;
  width: 15vw;
  padding: 10px;
  padding-top: 5px;
  margin: 10px;
  margin-bottom: 40px;
  transition-property: all;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 160px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-right: 30px;
}

.addCard {
  border: 1px solid #1adbd5;
  background: linear-gradient(to right, #152730, #102631);;
  width: 25vw;
  padding: 10px;
  padding-top: 5px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nicknameAdd {
  width: 90%;
}

.TaskTitle {
  width: 90%;
}

.TaskDescription {
  width: 90%;
}

.TaskDeadline {
  width: 90%;
}

.main_flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.description {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 48px;
  white-space: nowrap;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms linear;
  z-index: 2;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  position: absolute;
  top: 26%;
  left: 26%;
  height: 23vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  transition: transform 200ms ease-in-out;
  background-color: rgb(5, 46, 58);
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 20px;
  padding-right: 20px;
}

.lightbox__image {
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  outline: none;
  background-image: url('../src/images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

/* end of lightbox */

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .accountContainer2 {
    margin-top: 40px;
    width: 100%;
  }

  .part_todo {
    width: 100%;
  }

  .main_flex {
    flex-direction: column;
  }

  .ul_main {
    flex-direction: column;
    margin: 0 auto;
    margin-left: -36px;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }

  .account_name {
    font-size: 11px;
  }

  .account {
    width: 50px;
  }

  .signout {
    font-size: 10px;
  }

  .addCard {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .cardsContainer {
    display: flex;
    justify-content: center;
  }

  .lightbox__content {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding-left: 3px;
    padding-right: 3px;
  }
}
